body {
  background-color: bisque;
}

.Container {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 2px solid rgb(21, 22, 22);
  border-radius: 5px;
}
